
body, html {
    height: 100%;
  }
  

  /* Prevent elements from extending beyond viewport */
img, embed, object, video {
    max-width: 100%;
}

/* Ensure touch targets can be easily pressed with a finger */
nav a, button {
    min-width: 48px;
    min-height: 48px;
}

#logo {
    width: 300px;
}

.background--gunmetal {
    background: #2C363F;
}
.background--gray {
    background: #363537;
}
.background--off-white {
    background: #F4FAFF;
}
.background--sunset-orange {
    background: #FF5A5A;
}

.full-screen { height: 100vh;}
.full-screen-first { height: 90vh; }
.half-width {
    width: 50%;
}

.position--relative {
    position: relative;
}

.position--absolute {
    position: absolute;
}

.bottom {
    bottom: 0;
}

.text--center {
    text-align: center;
}

.text-color--sunset-orange {
    color: #FF5A5A;
}

.text-size--0 {
    font-size: 0;
}

.text-size--2 {
    font-size: 2em;
}

.display--inline-block {
    display: inline-block;
}