
body, html {
    height: 100%;
  }

  html {
    scroll-behavior: smooth;
  }
  

  /* Prevent elements from extending beyond viewport */
img, embed, object, video {
    max-width: 100%;
}

/* Ensure touch targets can be easily pressed with a finger */
nav a, button {
    min-width: 48px;
    min-height: 48px;
}

.nav-link:hover {
    border-bottom: solid 2px;
}

#logo {
    width: 50%;
}

.background--gunmetal {
    background: #2C363F;
}
.background--gray {
    background: #363537;
}
.background--off-white {
    background: #F4FAFF;
}
.background--sunset-orange {
    background: #FF5A5A;
}

.full-screen { height: 100vh;}
.full-screen-first { height: 90vh; }
.half-width {
    width: 50%;
}

.position--relative {
    position: relative;
}

.position--absolute {
    position: absolute;
}

.bottom {
    bottom: 0;
}

.middle {
    top: 30%;
}

.text--center {
    text-align: center;
}

.text-color--sunset-orange {
    color: #FF5A5A !important;
}

.text-size--0 {
    font-size: 0;
}

.text-size--2 {
    font-size: 2em;
}

.display--inline-block {
    display: inline-block;
}

.hero {
    font-size: 4vw;
    line-height: 100%;
    font-family: Lato, sans-serif;
    font-weight: 600;
}

.text--futura {
    font-family: Lato, sans-serif;
}

.paragraph-text {
    font-size: 1.25vw;
    font-family: 'Merriweather', serif;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    
}

/* iPhone landscape range */
@media (max-width:480px) {
    .hero {
        font-size: 2rem;
        line-height: 100%;
    }

    .paragraph-text {
        font-size: 1rem;
    }

    .middle {
        top: 20%;
    }
}

/* larger than iPhone landscape, an in the iPad portrait range */
@media (min-width:481px) and (max-width:768px) {
    .hero {
        font-size: 3rem;
        line-height: 100%;
    }

    .paragraph-text {
        font-size: 1.5rem;
    }

    .middle {
        top: 20%;
    }
}

/* bigger than iPad portrait  */
@media (min-width:769px) {
    
}

@keyframes fallin {
    0% {
        transform: translate(0px, -50px);
    }
    60% {
        transform: translate(0px, -30pxpx);
    }
    100% {
        transform: translate(0px, 0px);
    }
}

.nav-item:first-child {
    animation-duration: 1s;
    animation-name: fallin;
}

.nav-item:nth-child(2) {
    animation-duration: 1.5s;
    animation-name: fallin;
}

.nav-item:nth-child(3) {
    animation-duration: 2s;
    animation-name: fallin;
}

.nav-item:nth-child(4) {
    animation-duration: 2.5s;
    animation-name: fallin;
}
