
body, html {
    height: 100%;
  }
  

  /* Prevent elements from extending beyond viewport */
img, embed, object, video {
    max-width: 100%;
}

/* Ensure touch targets can be easily pressed with a finger */
nav a, button {
    min-width: 48px;
    min-height: 48px;
}

#logo {
    width: 300px;
}

.background--gunmetal {
    background: #2C363F;
}
.background--gray {
    background: #363537;
}
.background--off-white {
    background: #F4FAFF;
}
.background--sunset-orange {
    background: #FF5A5A;
}

.full-screen { height: 100vh;}
.full-screen-first { height: 90vh; }
.half-width {
    width: 50%;
}

.position--relative {
    position: relative;
}

.position--absolute {
    position: absolute;
}

.bottom {
    bottom: 0;
}

.middle {
    top: 30%;
}

.text--center {
    text-align: center;
}

.text-color--sunset-orange {
    color: #FF5A5A;
}

.text-size--0 {
    font-size: 0;
}

.text-size--2 {
    font-size: 2em;
}

.display--inline-block {
    display: inline-block;
}

.hero {
    font-size: 4vw;
    line-height: 100%;
    font-family: Lato, sans-serif;
    font-weight: 600;
}

.paragraph-text {
    font-size: 1.25vw;
    font-family: 'BioRhyme', serif;
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
    
}

/* iPhone landscape range */
@media (max-width:480px) {
    .hero {
        font-size: 2rem;
        line-height: 100%;
    }

    .paragraph-text {
        font-size: 1rem;
    }
}

/* larger than iPhone landscape, an in the iPad portrait range */
@media (min-width:481px) and (max-width:768px) {
    
}

/* bigger than iPad portrait  */
@media (min-width:769px) {
    
}